Component { 
    /* This Figma Node did not have any valid style! */
 }

Rectangle-2 { 
    /* This Figma Node did not have any valid style! */
 }

Email-address { 
    font-family: Roboto;
    font-weight: 400;
    font-size: 15
 }

