:root {
    --main-color: #e43f5a;
    --secondary-color: rgba(175, 88, 95, 0.75);
    --light-grey: #e0e0e0;
    --font-black: #666666;
}

/*
    MINIMAL CSS RESET:
*/

html {
    box-sizing: border-box;
    font-size: 16px;
    background-color: #1b1b2f;
}

*, *:before, *:after {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

input {
    background-color: transparent;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* END CSS RESET */

.container {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.title {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: var(--main-color);
    letter-spacing: 1px;
}

.subtitle {
    font-weight: 300;
    font-size: 42px;
    color: var(--secondary-color);
    word-spacing: 5px;
    padding-bottom: 15px;
}

main {
    width: 100%;
    color: rgba(255, 255, 255, 0.61);
}

/* TODO: rewrite TreeView.svelte to use Sveltes HTML template language to render the tree. For now, Treeviews CSS has to be
    global in order to work.*/

#tree ul{
    list-style: square inside;
    text-align: left;
    padding-left: 10px;
    overflow: hidden;
}

#tree .accordionControl {
    cursor: pointer;
}

#tree li {
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}

#tree li > ul {
    max-height: 0;
    transition: all 0.5s ease;
}

/* Default Icon */
#tree li:before {
    content: '🗎';
    font-size: 16px;
    margin-right: 10px;
}

#tree li[data-child-type="CANVAS"]:before {
    content: '🖉';
    font-size: 16px;
    margin-right: 10px;
}

#tree li[data-child-type="RECTANGLE"]:before {
    content: '▭';
    font-size: 16px;
    margin-right: 10px;
}

#tree li[data-child-type="GROUP"]:before {
    content: '⌸';
    font-size: 16px;
    margin-right: 10px;
}

#tree li[data-child-type="FRAME"]:before {
    content: '🖽';
    font-size: 16px;
    margin-right: 10px;
}

#tree ul {
    list-style-type: none;
}

#tree span{
    position: relative;
    display: inline-block;
    width: 90%;
}

#tree li[data-selected='true'] > span::before {
    content: '';
    position:absolute;
    background-color: rgba(105, 0, 0, 0.25);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#tree li > span:not([data-selected-count='0'])::after{
    content: attr(data-selected-count);
    margin-left: 5px;
    color: yellow;
}
